@import './base.css';

html,
body {
  height: 100vh;
  margin: 0;
}

#app {
  height: inherit;
  width: inherit;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  color: var(--vt-c-black);
}

h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  color: var(--vt-c-black);
}

span {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  color: var(--vt-c-text-light-2);
}

label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  color: var(--vt-c-black);
}

p {
  font-weight: 400;
  color: var(--vt-c-black);
  font-family: 'Times New Roman', Times, serif;
}

select {
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: var(--vt-c-white-soft);
  box-shadow: 0 2px 4px -1px rgba(#000, 0.25);
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
}
label {
  display: flex;
  align-items: center;
}
